In [1]:
def square_number(num):
    return num**2

In [6]:
my_nums = [1,2,3,4,5]

In [7]:
# Map will contain function and iterables inside as arguments eg.func,list
for item in map(square_number,my_nums):
    print(item)

1
4
9
16
25

In [8]:
list(map(square_number,my_nums))

[1, 4, 9, 16, 25]

In [9]:
def splicer(name):
    if len(name)%2 ==0:
        return 'EVEN'
    else:
        return name[0]

In [10]:
names = ['Yogesh','Uma','Danush']

In [11]:
map(splicer,names)

In [13]:
# List returns Even chars ina string , odd returns first char in a string
list(map(splicer, names))

['EVEN', 'U', 'EVEN']

In [14]:
def check_even(num):
    return num%2==0

In [15]:
num_list = [1,2,3,4,5,6,7,8]

In [17]:
# Filter to return the values / operations based on func condition either true or false
list(filter(check_even, num_list))

[2, 4, 6, 8]

In [18]:
for n in filter(check_even, num_list):
    print(n)

2
4
6
8

In [23]:
# lambda expression
lambda num:num **2

In [25]:
list(map(lambda num: num ** 2, my_nums))

[1, 4, 9, 16, 25]

In [27]:
list(filter(lambda num:num%2==0,my_nums))

[2, 4]

In [28]:
names

['Yogesh', 'Uma', 'Danush']

In [29]:
# grab first letter of names list
list(map(lambda name:name[0],names))

['Y', 'U', 'D']

In [30]:
# reverse names in list
list(map(lambda name:name[::-1],names))

['hsegoY', 'amU', 'hsunaD']