In [25]:
my_set = set()

In [26]:
my_set

set()

In [27]:
type(my_set)

set

In [28]:
my_set.add(1)

In [29]:
my_set

{1}

In [30]:
my_set.add(2)

In [31]:
my_set

{1, 2}

In [32]:
my_set.add(2) # Adding duplicate 2 again set rejects the duplicate values

In [33]:
my_set # Getting unique values

{1, 2}

In [34]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,4,4,4,] # Adding duplicate numbers in 'list'

In [35]:
set(mylist) # concatenate list into 'set' removes the duplicate values and keep unique values

{1, 2, 3, 4}