In [165]:
s= set()

In [166]:
s.add(1)

In [167]:
s.add(2)

In [168]:
s

{1, 2}

In [169]:
s.clear()

In [170]:
s

set()

In [171]:
s= {1,2,3}

In [172]:
sc = s.copy()  # copy existing set with new set.l

In [173]:
sc

{1, 2, 3}

In [174]:
s.add(4)

In [175]:
sc

{1, 2, 3}

In [176]:
s.difference(sc)  # look at the difference between two sets

{4}

In [177]:
s1 = {1,2,3}

In [178]:
s2 = {1,4,5}

In [179]:
s1.difference_update(s2) # returns matched elements from s1 comparing with s2.

In [180]:
s1

{2, 3}

In [181]:
s.discard(2)  # discard the element inside the set

In [182]:
s

{1, 3, 4}

In [183]:
s1 = {1,2,3,4}

In [184]:
s2={1,2,4}

In [185]:
s1.intersection(s2)  # returns common elements in two sets.

{1, 2, 4}

In [186]:
s1.intersection_update(s2)  # returns first set on intersection within two sets

In [187]:
s1

{1, 2, 4}

In [188]:
s1={1,2}

In [189]:
s2={1,2,4}

In [190]:
s3={5}

In [191]:
s1.isdisjoint(s2) # check for the common elements if found returns False

False

In [192]:
s1.isdisjoint(s3)  # check for the common elements if not found returns True

True

In [193]:
s1

{1, 2}

In [194]:
s2

{1, 2, 4}

In [195]:
# if s1 set has same elements in s2 its considered as subset means s1 is a subset for s2
s1.issubset(s2)

True

In [196]:
# if s2 set has same elements in s2 its considered as superset means s2 is a superset for s1
s2.issuperset(s1)

True

In [197]:
s1

{1, 2}

In [198]:
s2

{1, 2, 4}

In [199]:
# returns different elements found between two sets not the same one.
s1.symmetric_difference(s2)

{4}

In [200]:
s1.union(s2)  # returns union of two sets by combining the two sets into one.

{1, 2, 4}

In [201]:
s1.update(s2) # update s1 elements with s2

In [202]:
s1

{1, 2, 4}

In [203]:
s2

{1, 2, 4}